{
  "extends": [
    "./node_modules/javascript-style-guide/.eslintrc.json"
  ],
  "parser": "babel-eslint",
  "plugins": ["compat"],
  "rules": {
    "no-param-reassign": ["error", { "props": false }],
    "no-underscore-dangle": ["off"],
    "no-unused-vars": ["warn"],
    "no-restricted-properties": [2, { "property": "includes", "message": "#includes() will fail in IE 11. Use #indexOf() or #filter()." }],
    "compat/compat": "error",
    "no-template-curly-in-string": "warn",
    "max-len": ["warn", {"code" : 150}],
    "arrow-body-style": "warn",
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "consistent-return": "warn"
  },
  "globals": {
    "describe": true,
    "it": true,
    "after": true,
    "before": true
  },
  "env": {
    "browser": true
  }
}
