

$white-transparent-70: rgba(255,255,255,.7);

$orange-100: #FFC700;
$gray-40: #A8AABD;
$gray-60: #51557A;

$blue-90: #262A59;
$font-family-primary: 'Roboto', sans-serif;

$gutter-xs: 4px;
$gutter-s: 8px;
$gutter-m: 12px;
$gutter-base: 16px;
$gutter-l: 24px;
$gutter-xl: 32px;
$gutter-xxl: 65px;

$border-radius: 4px;
$border-radius-l: 6px;

$font-size-s: .8em;
$font-size-m: .9em;
$font-size-base: 1em;