

$white-transparent-70: rgba(255,255,255,.7);

$orange-100: #F4A618;
$gray-10: #FFFDFB;
$gray-20: #EFF3F6;
$gray-30: #C6CFD6;
$gray-40: #A8B6C2;
$gray-60: #7F828D;
$gray-70: #6E7A89;
$gray-90: #3A3C4C;


$font-family-primary: 'Open Sans', sans-serif;

$gutter-xs: 4px;
$gutter-s: 8px;
$gutter-m: 12px;
$gutter-base: 16px;
$gutter-l: 24px;
$gutter-xl: 32px;
$gutter-xxl: 65px;

$border-radius: 4px;
$border-radius-l: 6px;

$box-shadow-s: 0 0 4px rgba(0,0,0,.2);
$box-shadow: 0 0 4px rgba(0,0,0,.5);
$box-shadow-l:  1px 2px 10px rgba(0,0,0,.5);


$font-size-s: .8em;
$font-size-m: .9em;
$font-size-base: 1em;