

$white-transparent-70: rgba(255,255,255,.7);

$orange-100: #FFC700;
$gray-40: #A8AABD;
$gray-60: #51557A;

$blue-90: #262A59;
$font-family-primary: 'Roboto', sans-serif;

$border-radius: .5vw;

$font-size-s: 2.4vw;
$font-size-m: 4.2vw;
$font-size-base: 2.5vw;
$font-size-l: 4.2vw;
$font-size-xl: 5vw;
$font-size-xxl: 13vw;